/*General CSS*/


html{
	background: url("images/2.png") center fixed;
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: cover;
}

body{
	/*background-image: url("images/2.png");
	/*background-size: cover;*/
	/*min-height: 100%;*/
	font-family: Arial;
}

#banner {
	margin-top: 20px;
	clear: float;
    border-radius: 10px;
    height: 135px;
    background-color: #053620;
}

#logo{
	float: left;
	margin: 10px;
	margin-left: 40px;
	width: 70px;
	height: 110px;
}

#heading{
	margin: auto;
	width: 600px;
	padding-top: 30px;
	font-family: Arial;
	color: white;
	text-align: center;
	font-size: 35px;
}









/* AddPlayers CSS*/

#addplayer{
	padding: 15px;
	float: left;
	margin-top: 20px;
}

#managePlayers{
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

.highlight{
	border: 1px solid #053620;
}

#addPlayersBody{
	font-family: Arial;
	font-weight: bold;
	border: 4px solid #053620;
	background-color: #eafff3;
	border-radius: 10px;
	margin-top: 50px;
	width: 650px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
}

 #playerName{
	margin: 3px;
 }

 #deletePlayer{
	margin: 3px;
 }







/* AddScore CSS*/

.highlightCenter{
	border: 1px solid #053620;
	text-align: center;
}

#playerSelectTable{
    border-collapse: collapse;
	margin: auto;
}

#scoreUpdateForm{
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#scoreInputTable{
	width: 100%;
    border-collapse: collapse;
}

#addScoreBody{
	padding: 20px;
	border: 4px solid #053620;
	background-color: #eafff3;
	border-radius: 10px;
	margin-top: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#scoreUpdateNameHeading{
	color: white;
	text-align:center;
	font-weight: bold;
	background-color: #053620;
}

#playerNameSelectTable{
	font-weight: bold;
	padding: 10px;
}

#playerSelectButton{
	padding: 10px;
}

#holeSelector{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 25px;
}

#scoreEntry{
	padding-left: 15px;
	padding-right: 25px;
}

#scoreUpdateButton{
		margin-top: 10px;
		padding: 5px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
}





/*CSS for standings*/

#table{
  padding: 20px;
	border: 4px solid #053620;
	background-color: #eafff3;
	border-radius: 10px;
	margin-top: 50px;
	width: 55%;
	margin-left: auto;
	margin-right: auto
}

#playoff div table tr td p{
	padding: 10px;
}

#standings tr:nth-child(even){
    background-color: #e8fdf3;
}

#standings tr:nth-child(odd){
    background-color: white;
}

#standings tr:nth-child(1){
    color: white;
    background-color: #053620;
}

#standings{
	margin: auto;
    font-family: Arial;
    border-collapse: collapse;
}

#standings td {
    border: 1px solid black;
		padding: 0px;
}

#standings tr td h5{
	text-align: center;
    padding: 0px;
    margin: 3px;
}

#standings tr td p{
		margin: 5px;
    font-weight: bold;
}

#nameCol{
    width: 85%;
}

p.name{
    padding-left: 10px;
}

p.leaderboardData{
	text-align: center
}

#totalScore{
	color: white;
}

.navigation{
	height: 50px;
	text-align: center;
	margin-top: 20px;
	width:200px;
	margin-left: auto;
	margin-right: auto;
}

/*CSS for admin page*/

#admin{
    padding: 20px;
	border: 4px solid #053620;
	background-color: #eafff3;
	border-radius: 10px;
	margin-top: 50px;
	width: 650px;
	margin-left: auto;
	margin-right: auto
}

#adminTable{
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#adminTable tr td {
	padding: 20px;
}

#adminTable tr td a{
	color: black;
	text-decoration: none;
}

#adminTable tr td a:visited{
	color: black;
	text-decoration: none;
}

#adminTable tr td a:hover{
	color: grey;
	text-decoration: none;
}
